Source: minios-live-config
Maintainer: crims0n <crims0n@minios.dev>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: lsb-release
Rules-Requires-Root: no
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/minios-linux/minios-live-config
Vcs-Git: https://github.com/minios-linux/minios-live-config.git
Homepage: https://github.com/minios-linux/minios-live-config

Package: minios-live-config
Architecture: all
Depends: minios-live-config-systemd | minios-live-config-backend,
         bash (>= 4.0),
         perl,
         ${misc:Depends}
Recommends: iproute2 | iproute,
            keyboard-configuration,
            minios-live-config-doc,
            locales | locales-all,
            sudo,
            user-setup
Suggests: pciutils,
          wget,
          shared-mime-info,
          gdk-pixbuf2.0-bin,
          libgtk-3-bin,
          glib-2.0-bin,
          desktop-file-utils,
          xfonts-utils,
          fontconfig
Conflicts: live-config
Description: Live System Configuration Components
 The Debian Live project maintains the components to build Debian based Live
 systems and the official Debian Live images themselves.
 .
 live-config contains the components to configure a live system during the boot
 process (late userspace).
 .
 In addition to live-config, a backend for an init system is required, such as
 live-config-systemd.

Package: minios-live-config-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}
Conflicts: live-config-doc
Description: Live System Configuration Components (documentation)
 live-config contains the components that configure a live system during the
 boot process (late userspace).
 .
 This package contains the documentation.

Package: minios-live-config-systemd
Architecture: all
Depends: systemd,
         ${misc:Depends}
Recommends: dbus
Conflicts: minios-live-config-backend, live-config-backend, live-config-systemd
Provides: minios-live-config-backend, live-config-backend
Replaces: minios-live-config-backend, live-config-backend, live-config-systemd
Description: Live System Configuration Components (systemd backend)
 The Debian Live project maintains the components to build Debian based Live
 systems and the official Debian Live images themselves.
 .
 live-config contains the components to configure a live system during the boot
 process (late userspace).
 .
 This package contains the systemd backend.

Package: minios-live-config-sysvinit
Architecture: all
Depends: sysvinit-core | sysvinit (<< 2.88dsf-44),
         ${misc:Depends}
Conflicts: minios-live-config-backend, live-config-backend, live-config-sysvinit
Provides: minios-live-config-backend, live-config-backend
Replaces: minios-live-config-backend, live-config-backend, live-config-sysvinit
Description: Live System Configuration Components (sysvinit backend)
 The Debian Live project maintains the components to build Debian based Live
 systems and the official Debian Live images themselves.
 .
 live-config contains the components to configure a live system during the boot
 process (late userspace).
 .
 This package contains the sysvinit backend.
